.content {
  max-width: 1244px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.panel {
  background: #f8f8f8;
  box-shadow: 0px 1px 2px 0 rgb(48 56 64 / 20%);
  margin: 5px;
}
.panel:nth-child(2n + 1) {
  border-right: solid 2px #f0f0f0;
}
.panel_head {
  padding: 14px 20px 5px;;
  background: #86add1;;
  margin: 0 auto;
}
.head_text {
  padding: 0;
  font-size: 25px;
  display: block;
  text-align: center;
  font-weight: bold;
}
.panel_body {
  padding: 34px 40px 40px;
}
a {
  text-decoration: none;
  color: #f8f9fa;
  font-weight: bolder;
}
.login {
  background-color: #f8f8f8;
  color: #000;
  text-align: center;
  margin: 0 auto;
  padding: 29px 20px 45px;
}

.login input {
  display: block;
  margin: 20px auto;
  text-align: center;
  background: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 22px;
  outline: none;
}

.login input[type="text"],
.login input[type="password"] {
  border: 2px solid #3498db;
  width: 220px;
  font-weight: bolder;
}

.login input[type="submit"] {
  width: 150px;
  border: 2px solid #2ecc71;
  cursor: pointer;
  font-weight: bolder;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #2ecc71;
  width: 230px;
  transition: 0.5s;
}

.login input[type="submit"]:hover {
  background-color: #2ecc71;
}

.line {
  padding: 20px 20px 20px;
}

.footer {
  height: 50px;
  margin-top: 50px;
  background-color: #498eaf;
  height: 50px;
  margin: 0 auto;
  padding: auto;
}
